<div class="container">
	<ol class="breadcrumb" style="font-size:12px;">
		<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
		<li class="breadcrumb-item"><a routerLink="/men">Men</a></li>
		<li class="breadcrumb-item"><a routerLink="/tshirt">T-Shirt</a></li>
		<li class="breadcrumb-item active">Men T-Shirt</li>
	</ol>
	<div class="row">
		<div class="col-sm-3 col-md-3">
			<section id="section-side-nav1" style="border-right: 1px solid #ddd;">
				<p><b>BRAND</b></p>
				<div class="">
					<ul style="list-style: none;">
						<li>
							<input type="checkbox">&nbsp;&nbsp;<label style="font-size:12px;">Roadster(2018)</label>
						</li>
						<li>
							<input type="checkbox">&nbsp;&nbsp;<label style="font-size:12px;">Jack & Jones(1149)</label>
						</li>
						<li>
							<input type="checkbox">&nbsp;&nbsp;<label style="font-size:12px;">Tommy Hilfiger(878)</label>
						</li>
						<li>
							<input type="checkbox">&nbsp;&nbsp;<label style="font-size:12px;">HRX by Hrithik Roshan(102)</label>
						</li>
						<li>
							<input type="checkbox">&nbsp;&nbsp;<label style="font-size:12px;">Puma(862)</label>
						</li>
						<li>
							<input type="checkbox">&nbsp;&nbsp;<label style="font-size:12px;">Huetrap(735)</label>
						</li>
						<li>
							<input type="checkbox">&nbsp;&nbsp;<label style="font-size:12px;">United Colors of Benetton(102)</label>
						</li>
					</ul>
				</div>
				<hr>
				<p><b>PRICE</b></p>
				<div class="">
					<ul style="list-style: none;">
						<li>
							<input type="checkbox">&nbsp;&nbsp;<label style="font-size:12px;">Rs. 179 to Rs. 479(9459)</label>
						</li>
						<li>
							<input type="checkbox">&nbsp;&nbsp;<label style="font-size:12px;">Rs. 483 to Rs. 689(9265)</label>
						</li>
						<li>
							<input type="checkbox">&nbsp;&nbsp;<label style="font-size:12px;">Rs. 690 to Rs. 999(9593)</label>
						</li>
						<li>
							<input type="checkbox">&nbsp;&nbsp;<label style="font-size:12px;">Rs. 1002 to Rs. 14690</label>
						</li>
					</ul>
				</div>
				
			</section>
			

		</div>
		<div class="col-sm-9 col-md-9">
			<section>
				<p><b>Men Tshirts</b></p>
			</section>
		</div>
	</div>
</div>