<header class="header-content">
	<div class="container pre-header-links" align="right">
		<a href="/">Gift Cards<span class="gift-card-new">new</span></a>
		<a href="/">Track Orders</a>
		<a href="/">Contact Us</a>
	</div>
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container">
		  <a class="navbar-brand" href="#"><img src={{productLogo}}></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item">
					<div class="dropdown" id="men">
						<a class="nav-link dropbtn" routerLink="/men" >Men</a>
					</div>
					<div class="dropdown-content">
						<div class="container">
							<ul class="navitem-list men">
								<li class="item-head"><a href="">Topwear</a></li>
								<li><a href="">T-Shirts</a></li>
								<li><a href="">Casual Shirts</a></li>
								<li><a href="">Formal Shirts</a></li>
								<li><a href="">Jackets</a></li>
								<li class="item-head"><a href="">Bottomwear</a></li>
								<li><a href="">Jeans</a></li>
								<li><a href="">Casual Trousers</a></li>
								<li><a href="">Formal Shirt</a></li>
								<li><a href="">Jackets</a></li>
							</ul>
							<ul class="navitem-list men">
								<li class="	item-head"><a href="">Sports wear</a></li>
								<li><a href="">Active T-Shirts</a></li>
								<li><a href="">Track Pants</a></li>
								<li><a href="">Sport Accessories</a></li>
								<li><a href="">Sport Shoes</a></li>
								<li class="item-head"><a href="">Festive wear</a></li>
								<li><a href="">Kurtas & Kurta</a></li>
								<li><a href="">Sherwanis</a></li>
								<li><a href="">Nehru Jackets</a></li>
							</ul>
							<ul class="navitem-list men">
								<li class="item-head"><a href="">Innerwera & Sleeper</a></li>
								<li><a href="">Boxers</a></li>
								<li><a href="">Vests</a></li>
								<li><a href="">Thermals</a></li>
								<li class="item-head"><a href="">Footwear</a></li>
								<li class="item-head"><a href="">Sunglass & Frames</a></li>
							</ul>
						</div>
					</div>
			  	</li>
				<li class="nav-item">
					<div class="dropdown" id="women">
						<a class="nav-link dropbtn" routerLink="/women" >Women</a>
					</div>
					<div class="dropdown-content">
						<div class="container">
							<ul class="navitem-list women">
								<li class="item-head"><a href="">Topwear</a></li>
								<li><a href="">T-Shirts</a></li>
								<li><a href="">Casual Shirts</a></li>
								<li><a href="">Formal Shirts</a></li>
								<li><a href="">Jackets</a></li>
								<li class="item-head"><a href="">Bottomwear</a></li>
								<li><a href="">Jeans</a></li>
								<li><a href="">Casual Trousers</a></li>
								<li><a href="">Formal Shirt</a></li>
								<li><a href="">Jackets</a></li>
							</ul>
							<ul class="navitem-list women">
								<li class="	item-head"><a href="">Sports wear</a></li>
								<li><a href="">Active T-Shirts</a></li>
								<li><a href="">Track Pants</a></li>
								<li><a href="">Sport Accessories</a></li>
								<li><a href="">Sport Shoes</a></li>
								<li class="item-head"><a href="">Festive wear</a></li>
								<li><a href="">Kurtas & Kurta</a></li>
								<li><a href="">Sherwanis</a></li>
								<li><a href="">Nehru Jackets</a></li>
							</ul>
							<ul class="navitem-list women">
								<li class="item-head"><a href="">Innerwera & Sleeper</a></li>
								<li><a href="">Boxers</a></li>
								<li><a href="">Vests</a></li>
								<li><a href="">Thermals</a></li>
								<li class="item-head"><a href="">Footwear</a></li>
								<li class="item-head"><a href="">Sunglass & Frames</a></li>
							</ul>
						</div>
					</div>
			  	</li>
				<li class="nav-item">
					<div class="dropdown" id="kid">
						<a class="nav-link dropbtn" routerLink="/kid" >Kids</a>
					</div>
					<div class="dropdown-content">
						<div class="container">
							<ul class="navitem-list kid">
								<li class="item-head"><a href="">Topwear</a></li>
								<li><a href="">T-Shirts</a></li>
								<li><a href="">Casual Shirts</a></li>
								<li><a href="">Formal Shirts</a></li>
								<li><a href="">Jackets</a></li>
								<li class="item-head"><a href="">Bottomwear</a></li>
								<li><a href="">Jeans</a></li>
								<li><a href="">Casual Trousers</a></li>
								<li><a href="">Formal Shirt</a></li>
								<li><a href="">Jackets</a></li>
							</ul>
							<ul class="navitem-list kid">
								<li class="	item-head"><a href="">Sports wear</a></li>
								<li><a href="">Active T-Shirts</a></li>
								<li><a href="">Track Pants</a></li>
								<li><a href="">Sport Accessories</a></li>
								<li><a href="">Sport Shoes</a></li>
								<li class="item-head"><a href="">Festive wear</a></li>
								<li><a href="">Kurtas & Kurta</a></li>
								<li><a href="">Sherwanis</a></li>
								<li><a href="">Nehru Jackets</a></li>
							</ul>
							<ul class="navitem-list kid">
								<li class="item-head"><a href="">Innerwera & Sleeper</a></li>
								<li><a href="">Boxers</a></li>
								<li><a href="">Vests</a></li>
								<li><a href="">Thermals</a></li>
								<li class="item-head"><a href="">Footwear</a></li>
								<li class="item-head"><a href="">Sunglass & Frames</a></li>
							</ul>
						</div>
					</div>
			  	</li>
				<li class="nav-item">
					<div class="dropdown" id="home-living">
						<a class="nav-link dropbtn" routerLink="/living" >Home & Living</a>
					</div>
					<div class="dropdown-content">
						<div class="container">
							<ul class="navitem-list home-living">
								<li class="item-head"><a href="">Topwear</a></li>
								<li><a href="">T-Shirts</a></li>
								<li><a href="">Casual Shirts</a></li>
								<li><a href="">Formal Shirts</a></li>
								<li><a href="">Jackets</a></li>
								<li class="item-head"><a href="">Bottomwear</a></li>
								<li><a href="">Jeans</a></li>
								<li><a href="">Casual Trousers</a></li>
								<li><a href="">Formal Shirt</a></li>
								<li><a href="">Jackets</a></li>
							</ul>
							<ul class="navitem-list home-living">
								<li class="	item-head"><a href="">Sports wear</a></li>
								<li><a href="">Active T-Shirts</a></li>
								<li><a href="">Track Pants</a></li>
								<li><a href="">Sport Accessories</a></li>
								<li><a href="">Sport Shoes</a></li>
								<li class="item-head"><a href="">Festive wear</a></li>
								<li><a href="">Kurtas & Kurta</a></li>
								<li><a href="">Sherwanis</a></li>
								<li><a href="">Nehru Jackets</a></li>
							</ul>
							<ul class="navitem-list home-living">
								<li class="item-head"><a href="">Innerwera & Sleeper</a></li>
								<li><a href="">Boxers</a></li>
								<li><a href="">Vests</a></li>
								<li><a href="">Thermals</a></li>
								<li class="item-head"><a href="">Footwear</a></li>
								<li class="item-head"><a href="">Sunglass & Frames</a></li>
							</ul>
						</div>
					</div>
			  	</li>
			</ul>
<!--
			<form class="form-inline my-2 my-lg-0">
			  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
-->
		  </div>
		</div>
	</nav>
</header>
